node_modules
node_modules/*

.env
packages/**/dist/**
packages/**/node_modules/**
packages/**/prisma/generated/*

projects/**/dist/**
projects/**/node_modules/**
projects/**/prisma/generated/*

dist/**/*
yarn-error.log
